.ProductContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;

  }
  
  .ProductImage {
    margin-right: 10px;
  }
  
  .ProductImage img {
    max-width: 170px;
    height: auto;
  }
  
  .ProductTitle h2 {
    font-size: 18px;
    padding-bottom: 5px;
    margin: 0;
  }
  
  .ProductPrice h3 {
    font-size: 20px;
    margin: 0;
    padding-bottom: 20px;
    color: rgb(128, 128, 128);
  }
  
  .ProductButton {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .ProductButton:hover {
    background-color: #d32f2f;
  }
  